.About-Container{
    outline: red dashed 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: 200vh;
}

.About-Content {
    position: relative;
    top: 200px;
    left: 200px;
    background-color: #2E2E2E;
    height: 402px;
    width: 456px;
    border-radius: 51px;
}
h1{
    color: #7F8EFA;
    font-weight: bold;
}
.Carousel-Container{
    height: 100px;
    width: 392px;
}