.About-Container{
    /* outline: red dashed 1px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    height: 240vh;
}

.About-Content {
    position: absolute;
    top: 300px;
    left: 30%;
    transform: translateX(-50%);
    background-color: #2E2E2E;
    height: 300px;
    width: 456px;
    border-radius: 51px;
    padding: 10px;
    /* border: red dashed 1px; */
}
h1{
    color: #7F8EFA;
    font-weight: bold;
}
.Experience-Container{
    position: absolute;
    top: 1400px;
    left: 30%;
    transform: translate(-50%);
    background-color: #2E2E2E;
    height: 300px;
    width: 456px;
    border-radius: 51px;
    padding: 10px;
}