.Home-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* outline: red dashed 1px; */
    height: 90vh; /* Adjust the height to be almost as big as the screen */
    width: 96vw; /* Adjust the width to be almost as big as the screen */
}

.Salutation {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.Text-Container {
    text-align: left;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* Center the container */
}

.name {
    font-size: 64px;
    font-weight: bold;
    color: #ffffff;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #c7c5c58f;
}

.Image-Container {
    height: 50vh;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.Button-Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
}

.Button-Container button {
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.Discover-Button {
    background-color: #7F8EFA;
    color: #000000;
    border: none;
}

.Contact-Button {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.Icon-Bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* *{
    outline: red dashed 1px;
} */

/* Media Queries */
@media (min-width: 768px) {
    .Home-Container {
        flex-direction: row;
        justify-content: space-between;
    }

    .Text-Container {
        width: 50%;
    }

    .Image-Container {
        width: 40%;
    }

       .Icon-Bar {
        position: fixed; /* Changed from relative to absolute */
        top: 50px; /* Use fixed units */
        left: 50px; /* Use fixed units */
        transform: translate(-50%, -50%);
    }
}