body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body covers the full viewport height */
  margin: 0;
}

main {
  flex: 1; /* Allow the main content to grow and push the footer to the bottom */
}

.Footer {
  padding: 20px;
  text-align: center;
}
/* *{
  border: red dashed 1px;
} */